/* Updated by Riad on Fri Jun 11 15:46:40 PDT 2021
  Inspired by https://twitter.com/Prathkum/status/1403337130701697029?s=20
  Code @ https://codepen.io/prathkum/pen/xxgrXje */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

p {
  font-family: 'Poppins', sans-serif;
  line-height: 12px;
  font-size: x-small;
  background: url("./photos/karimTabbou.png");
/*  background: url("./photos/KhaledDrareni.png");*/
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  background-size: 180vh;
  background-position: center;
}

body {
  background: black;
  overflow: hidden;
}
